:root {
    color-scheme: dark;
}

body {
    margin: 0;
    text-align: center;
}

h1 {
    text-align: center;
    font-family: Verdana, Geneva, Tahoma, sans-serif
}

.nav {
    display: flex;
    justify-content: center;
    background-color: rgba(100, 166, 144, 0.737);
    text-align: center;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: x-large;
    position: relative;
}

.nav__list {
    margin: 0;
    padding: 0;
}

.nav__item {
    display: inline-block;
}

.nav__link {
    color: aliceblue;
    text-decoration: none;
    display: inline-block;
    padding: 20px;
    transition: 0.4s;
}

.nav__link:hover {
    background-color: rgba(105, 158, 140, 0.689);
}

.link--button {
    border: 1px solid white;
    color: rgba(105, 158, 140, 0.822);
    font-weight: bolder;
    background-color: rgb(255, 255, 255);
    padding: 4px 10px;
    position: absolute;
    right: 10px;
    top: 15px;
}

.link--button:hover {
    background-color: rgb(32, 63, 53);
    color: white;
}

.modal__content {
    color: black;
    border: 3px solid black;
    background-color: rgb(240, 248, 255);
    padding: 10px 20px;
    width: 80%;
    margin-top: 50px;
    position: relative;
    margin: auto;
}

.modal__button {
    position: absolute;
    top: 0;
    right: 0;
    border-radius: 0;

}

/* PSEUDO-ELEMENTO, SE REPRESENTA CON "::" */

h1::first-letter {
    font-size: 100px;
    color: rgb(146, 184, 80);
    font-family: 'Times New Roman', Times, serif;
}

h2 {
    font-family: Arial, Helvetica, sans-serif;
}

.principal {
    max-width: 500px;
    margin: 0 auto;
    font-size: 20px;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-weight: 200;
    text-align: justify;
    color: rgb(227, 255, 230);
    font-style: italic;
    line-height: 1.5;
}

.parrafo:first-line {
    color: red;
}

.parrafo::selection {
    background-color: darkred;
    color: rgb(194, 194, 237);
}

.lista {
    list-style: circle;
    font-size: 20px;
    max-width: 500px;
    margin: 0 auto;
    list-style: square;
}

.animales::marker {
    color: rgb(110, 186, 110);
}

.animales::before {
    content: 'Animal: ';
    color: red;
}

.animales::after {
    content: ' Después';
    color: rgb(133, 133, 246);
}

/* SELECTOR DENTRO DE UNA ETIQUETA PADRE, PARA UNA ETIQUETA DE HIJO DIRECTO SE USA "etiquetaPadre > etiquetaHijoDirecto", PARA UN SELECTOR POR ATRIBUTO SE ENCIERRA EL ATRIBUTO ENTRE [].*/

ol strong {
    color: red;
    font-style: italic;
}

.enlace {
    background-color: rgb(171, 202, 117);
    text-emphasis: none;
    text-decoration: none;
    color: rgb(0, 0, 0);
}

.fotoPerfil1 {
    height: 275px;
    width: 250px;
    border-radius: 50%;
    display: flex;
    margin: auto;
    transition: 0.4s;
}

/* PSEUDOCLASE */

.fotoPerfil1:hover {
    box-shadow: 0 0 45px rgba(255, 255, 255, 0.387);
}

.enlace:visited {
    background-color: rgb(187, 223, 253);
}

.formulario {
    max-width: 600px;
    margin: auto;
    padding: 10px 20px;
    background-color: transparent;
    box-shadow: 0 0 15px rgba(94, 88, 88, 0.393);
    border-radius: 3px;
}

fieldset {
    margin: 10px;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    border: none;
    border: 2px solid rgba(255, 255, 255, 0.092);
}

legend {
    letter-spacing: 1px;
}

.formTitle {
    font-size: 24px;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    text-align: center;
    letter-spacing: 1px;
}

.formularioInput,
textArea {
    width: 100%;
    margin: 5px 0;
    padding: 6px 5px;
    box-sizing: border-box;
    background-color: transparent;
    border: none;
    border: 1px solid rgba(255, 255, 255, 0.049);
    font-family: monospace;
}

.formularioInput:invalid {
    color: rgba(255, 0, 0, 0.718);
}

option {
    background-color: black;
}

.inputDate {
    margin: 5px 0;
    background-color: rgba(54, 54, 54, 0.286);
    border: 1px solid rgba(54, 54, 54, 0.906);
    padding: 2px 6px;
    box-sizing: border-box;
    display: block;
}

.inputFile {
    margin: 5px 0;
    background-color: rgba(54, 54, 54, 0.286);
    border: 1px solid rgba(54, 54, 54, 0.906);
    box-sizing: border-box;
}

.textArea {
    min-width: 200px;
    resize: none;
    min-height: 100px;
}

.checkbox {
    margin-top: 10px;
    margin-bottom: 10px;
    display: block;
}

.contactos {
    margin-bottom: 10px;
}

.terminos {
    text-decoration: none;
    color: rgb(135, 217, 255);
}

.contacto {
    text-decoration: none;
    color: rgb(135, 217, 255);
}

.inputSubmit {
    margin: 5px 0;
    margin-top: 10px;
    background-color: rgba(255, 255, 255, 0.399);
    border: 1px solid rgba(54, 54, 54, 0.906);
    padding: 3px 5px;
    box-sizing: border-box;
    display: flex;
}

label {
    font-size: 15px;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.card {
    background: linear-gradient(rgb(104, 137, 47), rgb(202, 243, 141));
    color: rgb(0, 0, 0);
    width: 400px;
    margin: auto;
    margin-top: 20px;
    margin-bottom: 20px;
    text-align: center;
    border: 5px solid rgb(50, 88, 13);
    border-radius: 12px;
}

.cardTitle {
    padding: 5px;
    font-size: 25px;
    margin: auto;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    border-top-left-radius: 7px;
    border-top-right-radius: 7px;
}

.cardSubtitle {
    padding: 0;
    margin: 5px;
    letter-spacing: 1px;
    font-family: Arial, Helvetica, sans-serif
}

.cardText {
    margin: 10px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    text-align: justify;
    padding: 10px;
    margin-top: 5px;
}

.box {
    max-width: 500px;
    height: 600px;
    margin: 0;
    margin: auto;
    padding: auto;
    box-sizing: content-box;
    background: url(/public/LucindaFachera.jpeg) center / contain fixed rgba(188, 255, 101, 0.69);
}

.opaco {
    height: 100%;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.214);
}

.descargar {
    text-align: center;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    margin-top: 20px;
}

.descargar1 {
    text-decoration: none;
    color: rgba(183, 255, 178, 0.756);
    transition: 0.4ms;
}

.descargar1:hover {
    text-shadow: 0 0 12px rgba(255, 255, 255, 0.782);
}

.card2 {
    background: rgb(86, 116, 68);
    width: 400px;
    margin: auto;
    margin-bottom: 50px;
    padding: 10px 20px;
    border: 6px solid rgb(132, 158, 87);
    box-shadow: 0px 0px 20px 0px rgba(248, 246, 246, 0.267);
    border-radius: 20px;
    text-align: center;
}

.yoMerengues {
    width: 150px;
    margin: 0;
    border-radius: 50%;
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.301);
}

.card2Title {
    margin: 0;
    margin-top: 5px;
    color: black;
    text-align: center;
    font-family: monospace;
    font-size: 24px;
    letter-spacing: 2px;
    text-shadow: 0 0 3px rgba(0, 0, 0, 0.332);
}

.card2Subtitle {
    margin: 0;
    margin-top: 5px;
    color: rgb(0, 0, 0);
    text-align: center;
    font-family: monospace;
    font-size: 18px;
    letter-spacing: 1px;
    text-shadow: 0 0 2px rgba(0, 0, 0, 0.345);
}

.card2Text {
    margin: 0;
    margin-top: 5px;
    color: black;
    text-align: justify;
    font-size: 14px;
    font-family: monospace;
    text-shadow: 0 0 1px rgba(0, 0, 0, 0.368);
}

details {
    margin: auto;
    width: 300px;
    margin-bottom: 50px;
    background-color: rgb(97, 151, 97);
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

summary {
    background-color: rgb(76, 114, 76);
    padding: 10px;
    font-weight: bold;
    letter-spacing: 1px;
}

.details {
    padding-bottom: 15px;
}

.table {
    margin: auto;
    margin-bottom: 50px;
    border: 1px solid white;
    border-radius: 2px;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

td {
    border: 1px solid green;
}

.total {
    text-align: right;
    padding-right: 20px;
}

.video {
    display: flex;
}

video {
    margin: auto;
    width: 300px;
    height: 300px;
    background-color: rgba(57, 57, 57, 0.474);
}

.flexbox {
    margin-bottom: 50px;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    border: 2px solid white;
}

.flex-item {
    width: 200px;
    height: 200px;
    background-color: rgb(241, 106, 106);
}

.flex-item:first-child {
    background-color: rgb(128, 15, 15);
}

.flex-item:last-child {
    background-color: red;
    ;
}

.barra,
.caja {
    box-sizing: border-box;
}

.caja {
    margin: 20px;
    background-color: beige;
    border: 4px solid green;
    padding: 6px;
    border-radius: 39px;
}

.barra {
    padding: 40px;
    background-color: green;
    border-radius: 30px;
    width: 10%;
    animation-name: llenar-barra;
    animation-duration: 2s;
    animation-delay: 1s;
    animation-fill-mode: both;
    animation-timing-function: ease-out;
    animation-iteration-count: infinite;
    animation-direction: alternate;
}

@keyframes llenar-barra {
    from {
        width: 0%;
    }

    to {
        width: 100%;
    }
}

.wrapper {
    display: flex;
    flex-direction: column;
    height: 80vh;
    justify-content: space-evenly;
    align-items: center;
}

.btn {
    padding: 10px 40px;
    background-color: transparent;
    color: #fff;
    border-radius: 6px;
    letter-spacing: 3px;
    position: relative;
}

/* ---- BOTÓN 1 (WAVE)---- */

.btn-1 {
    border: 1px solid green;
    overflow: hidden;
}

.btn-1::before {
    content: '';
    background-color: green;
    display: block;
    height: 200%;
    width: 140%;
    position: absolute;
    z-index: -1;
    transition: top .6s, left .6s;
    border-radius: 50%;
    top: 100%;
    left: 30%;
}

.btn-1:hover::before {
    top: -35%;
    left: -20%;
}

/* ---- BOTÓN 2 ---- */

.button-container:has(.btn-2) {
    filter: drop-shadow(0px 0px 20px rgba(218, 0, 0, 0.319))
    drop-shadow(0px 0px 4px rgba(206, 0, 0, 0.361));
}

.btn-2 {
    border: 1px solid #fff3;
    color: #fff3;
}

.btn-2:hover {
    animation: parpadear 1s infinite alternate backwards;
}

@keyframes parpadear {
    0% {
        color: #fff3;
        border: 1px solid #fff3;
        text-shadow: none;
        box-shadow: none;
    }

    25% {
        border-color: rgb(199, 1, 1);
        color: rgba(198, 4, 4, 0.833);
        box-shadow: 0px 0px 6px rgba(128, 0, 0, 0.484), 0px 0px 18px rgba(128, 0, 0, 0.484);
        text-shadow: 0px 0px 9px rgba(255, 2, 2, 0.476), 0px 0px 3px rgba(255, 4, 4, 0.38);
    }

    30% {
        color: #fff3;
        border: 1px solid #fff3;
        text-shadow: none;
        box-shadow: none;
    }

    35% {
        color: rgba(198, 4, 4, 0.833);
        text-shadow: 0px 0px 9px rgba(255, 2, 2, 0.476), 0px 0px 3px rgba(255, 4, 4, 0.38);
    }

    46% {
        color: #fff3;
        border: 1px solid #fff3;
        text-shadow: none;
        box-shadow: none;
    }

    60% {
        border-color: rgb(128, 0, 0);
        box-shadow: 0px 0px 6px rgba(128, 0, 0, 0.484), 0px 0px 18px rgba(128, 0, 0, 0.484);
    }

    72% {
        color: #fff3;
        border: 1px solid #fff3;
        text-shadow: none;
        box-shadow: none;
    }

    100% {
        color: rgba(198, 4, 4, 0.833);
        text-shadow: 0px 0px 9px rgba(255, 2, 2, 0.476), 0px 0px 3px rgba(255, 4, 4, 0.38);
    }

}

.text-wrapper {
    margin: 0;
    font-family: monospace;
    display: flex;
}
.text-container {
    display: flex;
    flex-direction: row;
    height: 80vh;
    justify-content: space-evenly;
    align-items: center;
    margin: auto;
    filter: drop-shadow(0px 0px 15px #ffffffd0) drop-shadow(0px 0px 3px #ffffffc5);
}

.text {
    width: 100%;
    letter-spacing: 5px;
    animation: grow 3s both steps(13);
    overflow: hidden;
    position: relative;
}

.text::before {
    content: '';
    width: 1px;
    height: 100%;
    background-color: #fff;
    position: absolute;
    right: 0;
    border-radius: 4px;
    animation: titilar .6s infinite alternate;
}

@keyframes grow {
    from {
        width: 0%;
    }
    to {
        width: 100%;
    }
}

@keyframes titilar {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}